.red {
    color: red;
    font-weight: bold;
    font-family: monospace;
}

.green {
    color: green;
    font-weight: bold;
    font-family: monospace;
}

.blue {
    color: blue;
    font-weight: bold;
    font-family: monospace;
}
